<div class="container">
     <div class="row">
        <div class="col-lg-6 col-md-6 content">
            <img class="img-responsive center-block" src="/assets/images/userImage.png" alt="User Outline">
            <h4>About</h4>
            <p>{{about}}</p>
        </div>
        <div class="col-lg-6 col-md-6 content">
            <img class="img-responsive center-block" src="/assets/images/codeImage.png" alt="Code Outline">
            <h4>Skills</h4>
            <p>{{skills}}</p>
        </div>
    </div>
</div>