.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #549de5;
  text-align: center;
  color: #FFFFFF;
}
.footerImg{
    max-height: 25px;
    display: inline-block
}

.wrapper{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}