/* Overwrite bootstrap*/
.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF;
}

/* Overwrite bootstrap*/
.navbar-inverse .navbar-nav>li>a:hover{
  background-color: transparent;
  color: #FFFFFF;
}

/* Overwrite bootstrap*/
.navbar-inverse .navbar-nav>li>a:enabled{
  background-color: transparent;
}

.current {
  font-weight: bold;
  border-bottom: 2px solid #000 !important;
  padding-bottom: 0px !important;
}

button.navbar-toggle.collapsed{
  text-align: center;
  margin: auto;
  float: none; 
  border: none;
}

/* Overwrite bootstrap*/
button.navbar-toggle.collapsed:hover{
  background-color: transparent;
}

/* Overwrite bootstrap*/
button.navbar-toggle.collapsed:enabled{
  background-color: transparent;
}

h4{
    font-family: 'Open Sans', 'Lato',sans-serif;
}

.header{
  background-color: #FF9321;
  padding: 5px;
  margin-bottom: 10px;
  font-family: sans-serif bold;
}

.navbar-toggle .icon-bar {
  height: 4px;
}

li:hover a{
  border-bottom: 2px solid #000 !important;
  padding-bottom: 0px !important;
}

nav {
  background-color: #FF9321;
  border: none;
  font-family: 'Open Sans', 'Lato',sans-serif;

}

.navbar-header {
      text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
    border-top: 0px;
    background-color: #FF9321;
}