.navbar-inverse .navbar-nav>li>a{
  color: #000000;
}

.navbar-inverse .navbar-nav>li>a:hover
{
  color: #FFFFFF;
}

button.navbar-toggle.collapsed{
  text-align: center;
  margin: auto;
  float: none; 
  border: none;
}

.header{
  background-color: #549de5;
  padding: 10px;
  margin-bottom: 50px;
  font-family: sans-serif bold;
}

.navbar-toggle .icon-bar {
  height: 4px;
}

li:hover {
  font-weight: bold;
}

li:hover a{
  text-decoration: underline;
}

nav {
  background-color: #549de5;
  border: none;
}

.navbar-header {
      text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
    border-top: 0px;
    -webkit-transition: height 2s;
    transition: height 2s;
}
