<div class="containter-fluid" >
  <div class="intro">
    <p>
      Rather than relying on other websites to stay afloat, I decided to create my own place to store recipes that I have found. Feel free to try any that you like, you will be able to find the original source upon expanding the card.
    </p>
  </div>
  <div *ngFor="let recipe of recipes" class="recipeCard">
    <div class="recipeInfo" > 
      <div class="header" (click)="openRecipe(recipe.id)">
        <span class="recipeTitle">{{recipe.title}}</span>
        <span id="{{recipe.id}}sign" class="plusMinus">+</span>
      </div>
      <div id="{{recipe.id}}Body" class="recipeBody closed">
        <hr>
        <h4>Ingredients:</h4>
        <div>
          <ul>
            <li *ngFor="let ingred of recipe.ingredients">{{ingred}}</li>
          </ul>
        </div>
        <h4>Steps:</h4>
        <div>
          <ol>
            <li *ngFor="let step of recipe.steps">{{step}}</li>
          </ol>
        </div>
        <h4>Source:</h4>
        <a *ngIf="recipe.isClickable" href={{recipe.source}} target="_blank">{{recipe.source}}</a>
        <p *ngIf="!recipe.isClickable">{{recipe.source}}</p>
      </div>
    </div>
  </div>
</div>