.plusMinus {
    float:right;
    padding-right:4px;
    font-size:26px;
    font-weight: bold;
    color: #214f78;
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

.recipeTitle{
    font-size: 26px;
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

div.recipeBody.closed{
    display: none;
}

div.recipeBody.open{
    display: block;
}

a, p{
    padding: 5px;
}

h3, h4, h5{
    margin: 2px;
}

div.intro {
    width: 60%;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom: 10px;
    padding: 5px;
    margin: 15px auto;
}

.recipeCard {
    width: 60%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 10px;
    padding: 5px;
    margin: 15px auto;
}

.recipeCard:hover {
    box-shadow: 0 8px 16px 0 #404040;
}

hr{
    border: 1px solid #214f78;
}

@media only screen and (max-width: 720px) {
    .recipeCard {
        width: 100%;
    }
    h3{
        font-size: 1em;
    }
    h4{
        font-size: .9em;
    }
    h5{
        font-size: .8em;
    }
    p, li {
        font-size: .8em;
    }
}

@media only screen and (max-width: 1080px) {
    .jobCard {
        width: 80%;
    }
}